@use "../../../../scss/variables" as *;

.comment-input-box {
  padding: $spacing * 2;
  display: flex;
  gap: $spacing * 2;
  justify-content: space-between;
  align-items: center;
  border-top: $border-separator;
}
