@use "../../scss/variables" as *;

.empty-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $spacing;
  margin-top: $spacing * 10;
  width: -webkit-fill-available;

  .icon {
    font-size: 5.4rem;
    margin: 0;
  }
  .message {
    font-weight: 700;
    font-size: 2rem;
    margin: 0;
  }

  .description {
    color: $grey-dark;
    margin: 0;
  }
}
