* {
  box-sizing: border-box;
  *:focus {
    outline-color: $orange;
  }
}

html {
  font-size: 62.5%;
}

body {
  min-width: 50rem;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $font-size-body;
  font-family: $font-family;
  overflow: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
